body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: white;
  color: #027292;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#greenForm {
  flex:20%;
}

form {
  padding:20px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #027292;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* li {
  float: left;
} */

.alignLeft {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

/* drop-down menu */
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #027292;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
 .logout {
  float:right !important;
  /* position: absolute;
  top: 0px;
  right: 5px;
  z-index: 9999;
  position:fixed;
  right:10px;
  top:5px; */
}
/* 
.logout {
  margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
} */

.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
  background-color: #027292;
  color: white;
}

.teal {
  background-color: #027292;
}

.md-button.md-small {
    min-width: 1%;
}

/* .welcome {
  width: 70%;
  text-align: center;
  vertical-align: middle; 
  position: relative;

} */

.container {
  height: 100%;
}

h1 #welcome {

  position: relative;
}

/* h1 #advocateTitle {
  position: relative;
  justify-content: center;
} */
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 60px; */
}

.container h1 {
  font-size: 32px;
  font-weight: 600;
  
}

th,td {
  text-align: center !important;
  cursor: pointer;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
  display: inline-block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid white;
  display: inline-block;
}

.showChart {
  display: center;
  /* width: 70%; */  
}

section {
  padding-bottom: 5px;
}

.container {
  margin: 0 auto;
  padding: 40px;
  max-width: 1000px;
}

.transactionTbl {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
  /* @media screen and (max-width: 580px); */
    display: block;
}

.caseTbl {
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
  /* @media screen and (max-width: 580px); */
    display: block;
}

.row {
  display: table-row;
  background: #f6f6f6;
}  
.transactionTbl tr:nth-child(odd){
    background: #a5cdd8;
}  

.transactionTbl tr:hover {
    background: silver;
    cursor: pointer;
}

thead th {
  color: #ffffff;
  font-weight: 900;
  background: #027292;
}

h1 {
  text-align: center;
  color: #027292;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.title {
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
}

.searchBar {
  text-align: center;
  float: center;
}

.dialog {
  width: 60%;
  padding: 6px;
}

#svcIcon {
  height: 65px;
}

#svcBanner {
  height: 80px;
}






