<!-- controller as ddc -->
<md-dialog class="dialog">
    <div>
        <md-content>
            <md-card>
                <md-card-title class="invertColor">
                    <md-card-title-text>
                        <h1 class="invertColor">Dispatch</h1>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <h3 style="text-align: center" ng-show="ddc.reportService.advocateDispatchArray.data[0]===undefined">Please Select Advocates to Dispatch</h3>
                    <table class="dialogTbl" ng-hide="ddc.reportService.advocateDispatchArray.data[0]===undefined">
                        <br/>
                        <thead>
                        <th>NAME</th>
                        <th>PHONE NUMBER</th>
                        <th>TEXT STATUS</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="advocate in ddc.reportService.advocateDispatchArray.data">
                        <td>{{advocate.advocate_first_name}} {{advocate.advocate_last_name}}</td>
                        <td>{{advocate.main_contact_phone}}</td>
                        <td ng-show="advocate.allow_text">Send Text</td>
                        <td ng-hide="advocate.allow_text">Do Not Text</td>
                        </tr>
                        </tbody>
                    </table>
                </md-card-content>
                <md-card-actions layout="column">
                    <md-button class="md-raised md-primary"ng-click="ddc.updateDates(ddc.reportService.advocateDispatchArray.data)">Completed Dispatch</md-button>
                    <md-button ng-click="ddc.closeForm()" class="md-raised">Cancel</md-button>
            </md-card>
        </md-content>
    </div>
</md-dialog>