<!-- MaController as mc -->
<md-dialog class="dialog" aria-label="Medical Advocacy">

    <!-- edit already made form -->
    <form>
        {{mc.formService}}
        <form ng-cloak ng-show="mc.formService.isEditing.editing">
            <h1>Medical Advocacy Information Form</h1>
            <md-input-container>
                <label>Advocate Full Name</label>
                <input ng-model="mc.formService.selectedForm.form[0].advocate_name" type="text">
            </md-input-container>
            <md-input-container>
                <label>Shadow Full Name</label>
                <input ng-model="mc.formService.selectedForm.form[0].advocate_name_additional" type="text">
            </md-input-container>
            <md-input-container>
                <label>Hospital Name</label>
                <input type="text" ng-model="mc.formService.selectedForm.form[0].location_name">
            </md-input-container>

            <!-- drop down for victimization -->
            <md-input-container flex="40">
                <label>Principal Victimization:</label>
                <md-select ng-model="mc.formService.selectedForm.form[0].victimization">
                    <md-option ng-value="type" ng-repeat="type in mc.victimization">
                        {{type}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container ng-show="mc.formService.selectedForm.form[0].victimization === 'Other' ">
                <input type="text" ng-model="mc.formService.selectedForm.form[0].additional_notes" placeholder="Specify Victimization">
            </md-input-container>

            <md-input-container>
                <p>Was a Mandated Report Triggered?</p>
                <md-radio-group ng-model="mc.formService.selectedForm.form[0].was_mandatory_report">
                    <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                    <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
                </md-radio-group>
            </md-input-container>
            <!-- shows if mandate was triggered -->
            <div ng-show="mc.formService.selectedForm.form[0].was_mandatory_report === true">
                <md-input-container>
                    <p>Name of Advocate Reporting:</p>
                    <input type="text" ng-model="mc.formService.selectedForm.form[0].reporting_advocate_name">
                </md-input-container>
                <md-datepicker ng-model="mc.formService.selectedForm.form[0].reporting_date" md-placeholder="Reporting Date"></md-datepicker>
                <br/>
                <!-- fix this to take time too -->
                <md-input-container>
                    <label for="time">Time</label>
                    <input type="time" md-model="mc.formService.selectedForm.form[0].ma_form_time">
                </md-input-container>
            </div>

            <md-input-container>
                <p>Was there an Evidentiary Exam?</p>
                <md-radio-group ng-model="mc.formService.selectedForm.form[0].location_evidentiary">
                    <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                    <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
                </md-radio-group>
            </md-input-container>
            <!-- appears if evidentiary exam is true -->

            <div ng-show="mc.formService.selectedForm.form[0].location_evidentiary === true">
                <md-input-container>
                    <label for="hospital">Hospital</label>
                    <input type="text" ng-model="mc.formService.selectedForm.form[0].location_evidentiary_name">
                </md-input-container>
                <md-input-container>
                    <label for="Nurse">Nurse's Name</label>
                    <input type="text" ng-model="mc.formService.selectedForm.form[0].location_evidentiary_nurse">
                </md-input-container>
            </div>

            <md-input-container>
                <p>Immediate Referral within 7 days to SVC?</p>
                <md-radio-group ng-model="mc.formService.selectedForm.form[0].immediate_referral">
                    <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                    <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
                </md-radio-group>
            </md-input-container>


            <!-- drop down for services appears if referral is true-->
            <md-input-container flex="40" ng-show="mc.formService.selectedForm.form[0].immediate_referral === true">
                <label>Services Provided:</label>
                <md-select ng-model="mc.formService.selectedForm.form[0].immediate_referral_notes">
                    <md-option ng-value="type" ng-repeat="type in mc.services">
                        {{type}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <p>Was a Referral To a Shelter Made?</p>
                <md-radio-group ng-model="mc.formService.selectedForm.form[0].shelter_referral">
                    <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                    <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
                </md-radio-group>
            </md-input-container>

            <!-- shows if shelter referral was made -->
            <md-input-container ng-show="mc.formService.selectedForm.form[0].shelter_referral === true">
                <label for="Shelters">Which Shelters?</label>
                <input type="text" ng-model="mc.formService.selectedForm.form[0].shelter_referral_name">
            </md-input-container>

            <md-input-container>
                <p>Was a Taxi Provided?</p>
                <md-radio-group ng-model="mc.formService.selectedForm.form[0].taxi_provided">
                    <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                    <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
                </md-radio-group>
            </md-input-container>

            <!-- shows if taxi was provided -->
            <md-input-container flex="40" ng-show="mc.formService.selectedForm.form[0].taxi_provided === true">
                <label for="taxi">Taxi Cost</label>
                <input type="text" ng-model="mc.formService.selectedForm.form[0].taxi_cost">
            </md-input-container>

            <md-input-container>
                <p>Was Release of Information Completed?</p>
                <md-radio-group ng-model="mc.formService.selectedForm.form[0].release_completed">
                    <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                    <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
                </md-radio-group>
            </md-input-container>
            <!-- shows if release of info was completed -->
            <div ng-show="mc.formService.selectedForm.form[0].release_completed === true">
                <md-input-container>
                    <label for="Notes">Reason For Release</label>
                    <input type="text" ng-model="mc.formService.selectedForm.form[0].release_completed_reason">
                </md-input-container>
                <md-datepicker ng-model="mc.formService.selectedForm.form[0].release_completed_date" md-placeholder="Release Date"></md-datepicker>
            </div>

            <md-input-container>
                <label for="FollowUp">Follow Up Info For Medical Advocacy Program Coordinator</label>
                <textarea cols="30" rows="4" ng-model="mc.formService.selectedForm.form[0].mapc_followup"></textarea>
            </md-input-container>


            <md-input-container>
                <p>Was A Debrief Completed?</p>
                <md-radio-group ng-model="mc.formService.selectedForm.form[0].debrief_complete">
                    <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                    <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
                </md-radio-group>
            </md-input-container>
            <!-- shows if debrief is completed -->
            <div ng-show="mc.formService.selectedForm.form[0].debrief_complete === true">
                <md-input-container>
                    <p>Staff Member Who Conducted Debrief:</p>
                    <input type="text" ng-model="mc.formService.selectedForm.form[0].debrief_complete_staff">
                </md-input-container>
                <br/>
                <md-datepicker ng-model="mc.formService.selectedForm.form[0].debrief_complete_date" md-placeholder="Debrief Date"></md-datepicker>
            </div>

            <md-input-container>
                <p>Was A Follow Up With The Agency Completed?</p>
                <md-radio-group ng-model="mc.formService.selectedForm.form[0].followup_complete">
                    <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                    <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
                </md-radio-group>
            </md-input-container>
            <!-- shows if follow up was completed -->
            <div ng-show="mc.formService.selectedForm.form[0].followup_complete === true">
                <md-input-container>
                    <label for="Notes">For What Agency?</label>
                    <input type="text" ng-model="mc.formService.selectedForm.form[0].followup_complete_agency">
                </md-input-container>
                <br/>
                <md-datepicker ng-model="mc.formService.selectedForm.form[0].followup_complete_date" md-placeholder="Followup Date"></md-datepicker>
            </div>

            <md-button type="submit" class="md-primary md-raised" ng-click="mc.submitNewMa(mc.formService.selectedForm.form[0])" type="submit"
                class="md-raised">Submit</md-button>
            <md-button class="md-raised" ng-click="mc.closeForm()">Cancel</md-button>
        </form>

        <!-- Display form view -->
        <div ng-hide="mc.formService.isEditing.editing">
            <h1>Medical Advocacy Information Form</h1>

            <p>Advocate Full Name:</p>
            <p>{{mc.formService.selectedForm.form[0].advocate_name}}</p>
            <p>Shadow Full Name:</p>
            <p>{{mc.formService.selectedForm.form[0].advocate_name_additional}}</p>

            <p>Hospital Name:</p>
            <p>{{mc.formService.selectedForm.form[0].location_name}}</p>
            <p>Principal Victimization:</p>
            <div ng-hide="mc.formService.selectedForm.form[0].victimization === 'Other' ">
                <p>{{mc.formService.selectedForm.form[0].victimization}}</p>
            </div>
            <div ng-show="mc.formService.selectedForm.form[0].victimization === 'Other' ">
                <p>{{mc.formService.selectedForm.form[0].additional_notes}}</p>
            </div>

            <p>Was a Mandated Report Triggered?</p>
            <md-checkbox ng-model="mc.formService.selectedForm.form[0].was_mandatory_report"></md-checkbox>

            <div ng-show="mc.formService.selectedForm.form[0].was_mandatory_report === true">
                <p>Name of Advocate Reporting:</p>
                <p>{{mc.formService.selectedForm.form[0].reporting_advocate_name}}</p>
                <p>Date of Report:</p>
                <p>{{mc.formService.selectedForm.form[0].reporting_date}}</p>
                <p>Time:</p>
                <p>{{mc.formService.selectedForm.form[0].reporting_time}}</p>
            </div>


            <p>Was there an Evidentiary Exam?</p>
            <md-checkbox ng-model="mc.formService.selectedForm.form[0].location_evidentiary"></md-checkbox>

            <div ng-show="mc.formService.selectedForm.form[0].location_evidentiary === true">
                <p>Hospital:</p>
                <p>{{mc.formService.selectedForm.form[0].location_evidentiary_name}}</p>
                <p>Nurse's Name:</p>
                <p>{{mc.formService.selectedForm.form[0].location_evidentiary_nurse}}</p>
            </div>

            <p>Immediate Referral within 7 days to SVC?</p>
            <md-checkbox ng-model="mc.formService.selectedForm.form[0].immediate_referral"></md-checkbox>

            <div ng-show="mc.formService.selectedForm.form[0].immediate_referral === true">
                <p>Services Provided:</p>
                <p>{{mc.formService.selectedForm.form[0].immediate_referral_notes}}</p>
            </div>

            <p>Was a Referral To a Shelter Made?</p>
            <md-checkbox ng-model="mc.formService.selectedForm.form[0].shelter_referral"></md-checkbox>

            <div ng-show="mc.formService.selectedForm.form[0].shelter_referral === true">
                <p>Which Shelters?</p>
                <p>{{mc.formService.selectedForm.form[0].shelter_referral_name}}</p>
            </div>

            <p>Was a Taxi Provided?</p>
            <md-checkbox ng-model="mc.formService.selectedForm.form[0].taxi_provided"></md-checkbox>

            <div ng-show="mc.formService.selectedForm.form[0].taxi_provided">

                <p>Taxi Cost:</p>
                <p>{{mc.formService.selectedForm.form[0].taxi_cost}}</p>
            </div>

            <p>Was a Release of Information Completed?</p>
            <md-checkbox ng-model="mc.formService.selectedForm.form[0].release_completed"></md-checkbox>

            <div ng-show="mc.formService.selectedForm.form[0].release_completed === true">
                <p>Reason For Release:</p>
                <p>{{mc.formService.selectedForm.form[0].release_completed_reason}}</p>
                <p>Date Release Was Completed:</p>
                <p>{{mc.formService.selectedForm.form[0].release_completed_date | date}}</p>
            </div>

            <p>Follow Up Information For Medical Advocacy Program Coordinator:</p>
            <p>{{mc.formService.selectedForm.form[0].mapc_followup}}</p>

            <p>Was a Debrief Completed?</p>
            <md-checkbox ng-model="mc.formService.selectedForm.form[0].debrief_complete"></md-checkbox>

            <div ng-show="mc.formService.selectedForm.form[0].debrief_complete === true">
                    <p>Staff Member Who Conducted Debrief:</p>
                    <p>{{mc.formService.selectedForm.form[0].debrief_complete_staff}}</p>
                    <p>Date Debrief was Completed:</p>
                    <p>{{mc.formService.selectedForm.form[0].debrief_complete_date | date}}</p>
            </div>

            <p>Was A Follow Up With The Agency Completed?</p>
                <md-checkbox ng-model="mc.formService.selectedForm.form[0].followup_complete"></md-checkbox>

                <div ng-show="mc.formService.selectedForm.form[0].followup_complete === true">
                    <p>For What Agency?</p>
                    <p>{{mc.formService.selectedForm.form[0].followup_complete_agency}}</p>
                    <p>Date Agency Follow Up Completed:</p>
                    <p>{{mc.formService.selectedForm.form[0].followup_complete_date | date}}</p>
                </div>
                <md-button type="submit" class="md-primary md-raised" ng-click="mc.editMode()" class="md-raised">Edit Form</md-button>
                <md-button ng-click="mc.closeForm()" class="md-raised">Cancel</md-button>
        </div>

</md-dialog>