<div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#/user">User Home</a></li>
      <li><a>Advocate Managment</a></li>
      <li><a href="#/casemanage">Case Managment</a></li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">Reporting</a>
  <div class="dropdown-content">
    <a href="#/report">View Charts</a>
    <a>View Nursing Reports</a>
    <a>New Nursing Report</a>
  </div>
</li>
      <li><a href="#/dispatch">Dispatch</a></li>
      <li><a href="#/adminmanage">Admin Management</a></li>
    </ul>
  </div>
</div>
