<div class="navbar">
  <div>
    <ul>
      <li class="alignLeft"><a href="#/user">User Home</a></li>
      <li class="alignLeft"><a href="#/advocatemanage">Advocate Managment</a></li>
      <li class="alignLeft"><a href="#/casemanage">Case Managment</a></li>
      <li class="dropdown alignLeft">
        <a href="javascript:void(0)" class="dropbtn">Reporting</a>
        <div class="dropdown-content">
          <a href="#/report">View Charts</a>
          <a href="#/nursereport">View Nursing Reports</a>
          <a href="#/createnursereport">Create New Nursing Reports</a>
        </div>
      </li>
      <li class="alignLeft"><a href="#/dispatch">Dispatch</a></li>
      <li class="alignLeft"><a href="#/adminmanage">Admin Management</a></li>
      <li><a class="logout" href="#" ng-click="uc.userService.logout()">Logout</a></li>
    </ul>
  </div>
</div>
