<!-- ReleaseInfoController as ric -->
<md-dialog class="dialog" aria-label="Release Info Form">
    <form ng-cloak ng-show="ric.formService.isEditing.editing">
        <h1>Release of Information Form</h1>
        <md-input-container>
            <label>Purpose of Release</label>
            <input type="text" ng-model="ric.formService.selectedForm.form[0].purpose">
        </md-input-container>

        <md-input-container>
            <p>Was The Contact Made?</p>
            <md-radio-group ng-model="ric.formService.selectedForm.form[0].was_contact_made">
                <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
            </md-radio-group>
        </md-input-container>
            <md-input-container ng-show="ric.formService.selectedForm.form[0].was_contact_made">
                <md-datepicker ng-model="ric.formService.selectedForm.form[0].contact_date" md-placeholder="Contact Date"></md-datepicker>
            </md-input-container>

            <md-input-container>
                <label>Who Contacted</label>
                <input type="text" ng-model="ric.formService.selectedForm.form[0].contacted_by">
            </md-input-container>

        <md-button type="submit" class="md-primary md-raised" ng-click="ric.sendRelease(ric.formService.selectedForm.form[0])" class="md-raised">Submit</md-button>
        <md-button ng-click="ric.closeForm()" class="md-raised">Cancel</md-button>
    </form>
    <div ng-hide="ric.formService.isEditing.editing">
        <md-content>
            <md-card>
                <md-card-title class="invertColor">
                    <md-card-title-text>
                    <h1 class="invertColor">Release of Information Form</h1>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <br/>
                    <p>Purpose of Release: {{ric.formService.selectedForm.form[0].purpose}}</p>
                    <p ng-show="ric.formService.selectedForm.form[0].was_contact_made">Was The Contact Made? Yes</p>
                    <p ng-hide="ric.formService.selectedForm.form[0].was_contact_made">Was The Contact Made? No</p>
                    <div ng-show="ric.formService.selectedForm.form[0].was_contact_made">
                        <p>Contact Date: {{ric.formService.selectedForm.form[0].contact_date | date}}</p>
                    </div>
                    <p>Contacted By: {{ric.formService.selectedForm.form[0].contacted_by}}</p>
                </md-card-content>
                <md-card-actions layout="column">
                    <md-button type="submit" class="md-primary md-raised" ng-click="ric.editMode()" class="md-raised">Edit Form</md-button>
                    <md-button ng-click="ric.closeForm()" class="md-raised">Cancel</md-button>
                </md-card-actions>
            </md-card>
        </md-content>
    </div>
</md-dialog>