<!-- ReleaseController as rc -->
<md-dialog class="dialog" aria-label="Release Form">
    <form ng-cloak ng-show="rc.formService.isEditing.editing">
        <h1>New Release/ Referral for Contact Information</h1>
    
        <md-input-container>
            <label>Which Hospital/Agency Sent The Referral?</label>
            <input type="text" ng-model="rc.formService.selectedForm.form[0].referral_location_name">
        </md-input-container>

        <div>
            <p>Follow Up Attempt One:</p>
            <md-input-container>
                <md-datepicker ng-model="rc.formService.selectedForm.form[0].is_first_attempt_date" md-placeholder="Date and Time"></md-datepicker>
            </md-input-container>
        </div>

        <div ng-show="rc.formService.selectedForm.form[0].is_first_attempt_date">
            <p>Follow Up Attempt Two:</p>
            <md-input-container>
                <md-datepicker ng-model="rc.formService.selectedForm.form[0].is_second_attempt_date" md-placeholder="Date and Time"></md-datepicker>
            </md-input-container>
        </div>

        <div ng-show="rc.formService.selectedForm.form[0].is_second_attempt_date">
            <p>Follow Up Attempt Three:</p>
            <md-input-container>
                <md-datepicker ng-model="rc.formService.selectedForm.form[0].is_third_attempt_date" md-placeholder="Date and Time"></md-datepicker>
            </md-input-container>
        </div>

        <md-button type="submit" class="md-primary md-raised" ng-click="rc.sendRelease(rc.formService.selectedForm.form[0])" class="md-raised">Submit</md-button>
        <md-button ng-click="rc.closeForm()" class="md-raised">Cancel</md-button>
    </form>

    <!-- view -->
    <div ng-hide="rc.formService.isEditing.editing">
        <md-content>
            <md-card>
                <md-card-title class="invertColor">
                    <md-card-title-text>
                        <h1 class="invertColor">Release/Referral for Contact Information</h1>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                <table class="dialogTbl">
                <tr>
                <td>Which Hospital/Agency Sent The Referral?</td>   
                <td>{{rc.formService.selectedForm.form[0].referral_location_name}}</td> 
                </tr>
                <tr ng-hide="rc.formService.selectedForm.form[0].is_first_attempt_date">
                    <td>Follow Up Attempted?</td>
                    <td>No</td>
                </tr>
                <tr ng-show="rc.formService.selectedForm.form[0].is_first_attempt_date">
                    <td>Follow Up One Attemptted On:</td>
                    <td>{{rc.formService.selectedForm.form[0].is_first_attempt_date | date}}</td>
                </tr>
                <tr ng-show="rc.formService.selectedForm.form[0].is_second_attempt_date">
                    <td>Follow Up Two Attempted On:</td>
                    <td>{{rc.formService.selectedForm.form[0].is_second_attempt_date | date}}</td>
                </tr>
                <tr ng-show="rc.formService.selectedForm.form[0].is_third_attempt_date">
                    <td>Follow Up Three Attempted On:</td>
                    <td>{{rc.formService.selectedForm.form[0].is_third_attempt_date | date}}</td>
                </tr>
                </table>
            </md-card-content>
                <md-card-actions layout="column">
                    <md-button ng-hide="rc.formService.caseObject.cases[rc.formService.selectedForm.form[0].referral_form_id].is_case_complete" type="submit" class="md-primary md-raised" ng-click="rc.editMode()" class="md-raised">Edit Form</md-button>
                    <md-button ng-click="rc.closeForm()" class="md-raised">Cancel</md-button>
            </md-card>
        </md-content> 
    </div>

</md-dialog>