<!-- CaseController as cc -->
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h1>CASE MANAGMENT</h1>
     {{cc.caseObject}}
    <md-table-container>
        <table class="casemanagment">
            <tbody>
                <tr>
                    <th>Date and Time</th>
                    <th>Green Form</th>
                    <th>Medical Advocacy Form</th>
                    <th>Legal Advocacy Form</th>
                    <th>Referral for Contact Info</th>
                    <th>Release of Information</th>
                    <th>Yellow Form</th>
                    <th>Client Contact Form</th>                   
                    <th>Bill of Rights</th>
                </tr>

                <!-- this table row ng repeats over each case (20) -->
                <tr ng-repeat="case in cc.caseObject">
                
                    <!-- date and time -->
                    <td>{{case.gs_complete_date| date}}</td>
                    <!-- all ng-models will be send with get route -->
                    <!-- need to replace id in edit function -->
                    <td><md-checkbox class="md-primary" ng-disabled="true" ng-model="cc.greencb" ng-init="cc.greencb=true" aria-label="Checkbox 1"></md-checkbox></td>
                    <td><md-checkbox ng-model="case.is_ma_complete" class="md-primary" aria-label="Checkbox 2"></md-checkbox>
                            <md-icon ng-click="cc.showMa($event, id)" md-svg-icon="pictures/edit.svg"></md-icon>    
                    </td>
                    <td><md-checkbox ng-model="case.is_la_complete" class="md-primary" aria-label="Checkbox 1"></md-checkbox>
                            <md-icon ng-click="cc.showLa($event, id)" md-svg-icon="pictures/edit.svg"></md-icon>
                    </td>
                    <td><md-checkbox ng-model="case.is_referral_complete" class="md-primary" aria-label="Checkbox 1"></md-checkbox>
                            <md-icon ng-click="cc.showRefer($event, id)" md-svg-icon="pictures/edit.svg"></md-icon>
                        </td>
                    <td><md-checkbox ng-model="case.is_release_complete" class="md-primary" aria-label="Checkbox 1"></md-checkbox>
                            <md-icon ng-click="cc.showRelease($event, id)" md-svg-icon="pictures/edit.svg"></md-icon>
                    </td>
                    <td><md-checkbox ng-model="case.is_ys_complete" class="md-primary" aria-label="Checkbox 1"></md-checkbox>
                            <md-icon md-svg-icon="pictures/edit.svg"></md-icon>
                    </td>
                    <td>
                        <md-checkbox class="md-primary" aria-label="Checkbox 1"></md-checkbox>
                    
                    </td>
                    <td><md-checkbox class="md-primary" aria-label="Checkbox 1"></md-checkbox></td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    
</div>

