<!-- EditAdController as eac -->
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <md-content class="editAdvocate">
        <md-card>
            <div class="layout-margin">
                <form name="editAdvocate" layout="column">
                    <h1>UPDATE ADVOCATE</h1>
                    <md-input-container>
                        <label>First Name </label>
                        <input ng-model="eac.updatedAdvocate.advocate_first_name" type="text">

                    </md-input-container>
                    <md-input-container>
                        <label>Last Two Initials </label>
                        <input ng-model="eac.updatedAdvocate.advocate_last_name" type="text">
                    </md-input-container>
                    <md-datepicker ng-model="eac.updatedAdvocate.advocacy_start" required md-placeholder="Starting Date"></md-datepicker>
                    <br/>
                    <!-- language check boxes here -->
                    <md-input-container>
                        <p>Languages Spoken</p>
                        <md-checkbox aria-label="English">English</md-checkbox>
                        <md-checkbox ng-model="eac.updatedAdvocate.spanish" aria-label="Spanish">Spanish</md-checkbox>
                        <md-checkbox ng-model="eac.updatedAdvocate.somali" aria-label="Somali">Somali</md-checkbox>
                        <md-checkbox ng-model="eac.updatedAdvocate.french" aria-label="French">French</md-checkbox>
                        <md-checkbox ng-model="eac.updatedAdvocate.german" aria-label="German">German</md-checkbox>
                        <md-checkbox ng-model="eac.updatedAdvocate.liberian" aria-label="Liberian">Liberian</md-checkbox>
                        <md-checkbox ng-model="eac.updatedAdvocate.asl" aria-label="ASL">ASL</md-checkbox>
                    </md-input-container>

                    <md-input-container>
                        <input type="text" ng-model="eac.updatedAdvocate.other_language" placeholder="Other Languages">
                    </md-input-container>

                    <md-input-container>
                        <label>Phone Number</label>
                        <input ng-model="eac.updatedAdvocate.main_contact_phone" placeholder="(XXX)XXX-XXXX">
                    </md-input-container>

                    <!-- certified check boxes here -->
                    <md-checkbox ng-model="eac.updatedAdvocate.is_hcmc_approved" aria-label="HCMC Certified">HCMC Certified</md-checkbox>
                    <!-- Text op in check boxes -->
                    <md-checkbox ng-model="eac.updatedAdvocate.allow_text" aria-label="Text Op In">Text Op In</md-checkbox>
                    <div>
                        <!-- goes to advocate management page -->
                        <md-button class="md-raised md-warn" href="#/advocatemanage">Cancel</md-button>
                        <md-button type="submit" class="md-raised md-primary" ng-click="eac.updateAdvocate(eac.updatedAdvocate.advocate_id , eac.updatedAdvocate)" href="#/advocatemanage">Update</md-button>
                    </div>
                </form>
            </div>
        </md-card>
    </md-content>
</div>