<!-- GreenController as gc -->
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <md-content class="greenForm">
        <md-card>
            <div layout-margin>
                <form id="greenForm" name="GreenForm" layout="column">
                    <h1>New Green Sheet</h1>
                    <md-input-container>
                        <label>Hospital</label>
                        <md-select ng-model="gc.newGreen.location">
                            <md-option ng-value="type" ng-repeat="type in gc.hospitals">
                                {{type.hospital}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                        <md-datepicker ng-model="gc.newGreen.date" required md-placeholder="Date"></md-datepicker>
                        <md-input-container>
                            <label>Time</label>
                            <input flex="40" type="time" ng-model="gc.newGreen.start_time">
                            {{gc.newGreen.start_time}}
                        </md-input-container>
                        <md-input-container>
                            <label>Crisis Line Advocate</label>
                            <input ng-model="gc.newGreen.advocate_name_dispatched" type="text">
                        </md-input-container>
                        <md-input-container>
                            <label>Contacted Medical Advocate</label>
                            <input ng-model="gc.newGreen.nurse" type="text">
                        </md-input-container>

                        <md-checkbox ng-model="gc.newGreen.was_advocate_dispatched" class="md-primary" aria-label="Was an Advocate Dispatched">Was an Advocate Dispatched</md-checkbox>
<!-- old dropdown -->
                        <!-- <md-input-container flex="40">
                            <label>Advocate Dispatched</label>
                            <md-select ng-model="gc.newGreen.advocate_id">
                                <md-option ng-value="advocate.advocate_id" ng-repeat="advocate in gc.advocateArray">
                                    {{advocate.advocate_first_name}} {{advocate.advocate_last_name}} 
                                </md-option>
                            </md-select>
                        </md-input-container> -->
                        <md-autocomplete  
                        md-selected-item="gc.selectedItem" 
                        md-search-text-change="gc.searchTextChange(gc.searchText)"
                        md-search-text="gc.searchText"  
                        md-items="advocate in gc.advocateArray"
                        md-selected-item-change="gc.selectedItemChange(gc.selectedItem)"
                        md-item-text="advocate.advocate_first_name"
                        md-min-length="0" 
                        placeholder="Advocate Dispatched" 
                        ng-show="gc.newGreen.was_advocate_dispatched">
                            <md-item-template>
                                <span md-highlight-text="gc.searchText" md-highlight-flags="^i">{{advocate.advocate_first_name}} {{advocate.advocate_last_name}}</span>
                            </md-item-template>
                            <md-not-found>
                                No Advocate "{{gc.searchText}}" was found.
                            </md-not-found>
                        </md-autocomplete>


                        <md-input-container>
                            <label>Notes:</label>
                            <textarea rows="5" cols="30" type="text" ng-model="gc.newGreen.green_form_notes"></textarea>
                        </md-input-container>
                    <div> 
                        <!-- goes to case management page -->
                        <md-button class="md-raised md-warn" href="#/casemanage">Cancel</md-button>
                        <md-button type="submit" class="md-raised md-primary" ng-click="gc.submitGreen(gc.newGreen)">Create</md-button>
                    </div>
                </form>
            </div>
        </md-card>
    </md-content>


</div>

