<!-- NewAdController as nc -->
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h1></h1>
    <md-content class="New Advocate">
        <md-card>
            <div class="layout-margin">
                <form name="New Advocate" layout="column">
                    <h1>ADD NEW ADVOCATE</h1>
                    <md-input-container>
                        <label>First Name </label>
                        <input ng-model="nc.newAdvocate.advocate_first_name" type="text">
                    </md-input-container>
                    <md-input-container>
                        <label>Last Two Initials </label>
                        <input ng-model="nc.newAdvocate.advocate_last_name" type="text">
                    </md-input-container>
                    <md-datepicker ng-model="nc.newAdvocate.advocacy_start" required md-placeholder="Starting Date"></md-datepicker>
                    <br/>
                    <!-- language check boxes here -->
                    <md-input-container>
                        <label for="languages">Languages Spoken</label>
                        <md-checkbox class="md-primary" aria-label="English">English</md-checkbox>
                        <md-checkbox ng-material="nc.newAdvocate.spanish" ng-false-value="false" class="md-primary" aria-label="Spanish">Spanish</md-checkbox>
                        <md-checkbox ng-material="nc.newAdvocate.somali" ng-false-value="false" class="md-primary" aria-label="Somali">Somali</md-checkbox>
                        <md-checkbox ng-material="nc.newAdvocate.french" ng-false-value="false" class="md-primary" aria-label="French">French</md-checkbox>
                        <md-checkbox ng-material="nc.newAdvocate.german" ng-false-value="false" class="md-primary" aria-label="German">German</md-checkbox>
                        <md-checkbox ng-material="nc.newAdvocate.liberian" ng-false-value="false" class="md-primary" aria-label="Liberian">Liberian</md-checkbox>
                        <md-checkbox ng-material="nc.newAdvocate.asl" ng-false-value="false" class="md-primary" aria-label="ASL">ASL</md-checkbox>
                        <input type="text" ng-material="nc.newAdvocate.other_language" placeholder="Other Languages">
                    </md-input-container>
                    <md-input-container>
                        <label>Phone Number</label>
                        <input ng-model="nc.newAdvocate.main_contact_phone" type="number">
                    </md-input-container>
                    <!-- certified check boxes here -->
                    <md-checkbox ng-material="nc.newAdvocate.is_hcmc_approved" class="md-primary" aria-label="HCMC Certified">HCMC Certified</md-checkbox>
                    <!-- Text op in check boxes -->
                    <md-checkbox ng-material="nc.newAdvocate.allow_text" class="md-primary" aria-label="Text Op In">Text Op In</md-checkbox>
                    <div>
                        <!-- goes to advocate management page -->
                        <md-button class="md-raised md-warn" href="#/advocatemanage">Cancel</md-button>
                        <md-button type="submit" class="md-raised md-primary" ng-click="nc.submitAdvocate(gc.newAdvocate)">Create</md-button>
                    </div>
                </form>
            </div>
        </md-card>
    </md-content>
</div>