<div class="blueBar"></div>
<div class="container" id="login" layout="column" layout-align="center center">
  <md-content id="loginForm">
    <md-card class="invertColor">
      <md-card>
  <h1 class="lead">Register User</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
  <form ng-submit="lc.registerUser()">
      <md-input-container>
      <label for="firstName">First Name</label>
      <input type="text" ng-model="lc.user.first_name">
      </md-input-container>
      <md-input-container>
      <label for="lastName">Last Name</label>
      <input type="text" ng-model="lc.user.last_name">
      </md-input-container>
      <md-input-container>
        <label for="email">Email</label>
        <input type="text" ng-model="lc.user.email">
      </md-input-container>

    <div layout="rows">
      <md-input-container>
        <p>Super Admin:</p>
        <md-radio-group ng-model="lc.user.is_super_admin" aria-label="super admin status">
          <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
          <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
        </md-radio-group>
      </md-input-container>
      <!-- <md-input-container> -->
      <!-- <p>Super Admin:</p> -->
      <!-- <md-checkbox ng-model="lc.user.is_super_admin" aria-label="Checkbox"></md-checkbox> -->
      <!-- </md-input-container> -->
    </div>
      <md-input-container>
        <label for="username">Username:</label>
        <input type="text" ng-model="lc.user.username">
        </md-input-container>
      <md-input-container>
        <label for="password">Password:</label>
        <input type="password" ng-model="lc.user.password">
        </md-input-container>
    <md-card-actions>
    <div>
    <md-button class="md-primary md-raised" type="submit" name="submit" value="Register">Register</md-button>   
    <a href="#adminmanage">Cancel</a> 
    </div>
    </md-card-actions>
  </form>
  </md-card>
  </md-card>
  </md-content>
</div>
