<!-- Report Controller as rc -->
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h1>VIEW CHARTS</h1>
    <p>
        <md-button class="md-raised md-primary" ng-click="rc.requestNurseChart()">
            <md-icon md-svg-icon="pictures/lineChart.svg"></md-icon> Show Nurse Report Chart</md-button>
    </p>

    <p>
        <md-button class="md-raised md-primary" ng-click="rc.requestTaxiChart()">
            <md-icon md-svg-icon="pictures/lineChart.svg"></md-icon> Show Taxi Chart</md-button>
    </p>

    <div style="width: 70%;">
        <canvas id="myChart" height="750" width="700" ng-show = "rc.Donut" ></canvas>
    </div>
    
    <div style="width: 70%;">
        <canvas id="myTaxiChart" height="750" width="700" ng-show = "rc.Bar"></canvas>
    </div>

    <div>
        <div>
            <md-input-container class="md-block">
                <label for="year">Year</label>
                <md-select name="year" ng-model="rc.selectedYear">
                    <md-option ng-repeat="y in rc.year" value="{{y}}">{{y}}</md-option>
                </md-select>
            </md-input-container>
        </div> 

        <div>
            <md-input-container class="md-block">
                <label for="month">Month</label>
                <md-select name="month" ng-model="rc.selectedMonth">
                    <md-option ng-repeat = "m in rc.month" value="{{m}}">{{m}}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <p>
            <md-button class="md-raised md-primary" ng-click="rc.requestMonthlyAdvChart()">
                <md-icon md-svg-icon="pictures/lineChart.svg"></md-icon> Show Advocates Per Month</md-button>
        </p>
    </div>

</div>