<div class="container">
    <h1 class="lead">Reset User Password</h1>
            <div>
                <label for="username">Username:</label>
                <input type="text" ng-model="lc.user.username" />
            </div>
            <div>
                <label for="password">New Password:</label>
                <input type="password" ng-model="lc.user.password" />
            </div>
            <div>
                <label for="password">Confirm Password:</label>
                <input type="password" ng-model="lc.user.password" />
            </div>
            
            <a href="#/user">Cancel</a>

</div>