<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div class="welcome">
        <div>
            <img src="pictures/svc_img.jpeg" alt="">
            <md-content>
                <md-card>


                    <md-card id="userTitle">
                        <md-button class="md-raised md-primary" href="#/green">
                            <md-icon md-svg-icon="pictures/add.svg"></md-icon>
                            Create New Case
                        </md-button>
                </md-card>
            </md-content>

        </div>

    </div>
</div>