<div ng-include="'views/partials/nav.html'"></div>
<div>
    <div class="welcome">
        <div>

            <md-content>
                <md-card>
                    <md-card id="userTitle">
                        <div id="picture">
                            <img id="svcBanner" src="pictures/svc_img.jpeg">
                        </div>
                        <md-input-container>
                            <!-- <label id="openCase" for="openCase" >Open Cases: </label> -->
                            <md-button class="md-raised md-primary" href="#/casemanage">Active Cases: {{uc.openCase}}</md-button>
                            <!-- <section layout="row"></section> -->
                        </md-input-container>

                        <!-- <md-input-container>
                            <label id="upcomingDeadline" for="upcomingDeadline">Upcoming Deadlines:</label>
                            <section layout="row"></section>
                        </md-input-container>
                        <br> -->
                        <md-input-container>
                            <md-button class="md-raised md-primary">New Cases: 4</md-button>
                            <!-- <section layout="row"></section> -->
                        </md-input-container>
                        <br>
                    </md-card>
            </md-content>

        </div>

    </div>
</div>