<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div class="welcome">
        <div>
            <img src="pictures/svc_img.jpeg" alt="">
            <md-content>
                <md-card>
            
                    <md-input-container>
                        <label id="openCase" for="openCase">Open Cases:</label>
                        <section layout="row"></section>
                    </md-input-container>
                    <br>
                    <md-input-container>
                        <label id="upcomingDeadline" for="upcomingDeadline">Upcoming Deadlines:</label>
                        <section layout="row"></section>
                    </md-input-container>
                    <br>
                    <md-input-container>
                        <label id="newCaseAdded" for="newCaseAdded">New Cases Added:</label>
                        <section layout="row"></section>
                    </md-input-container>
                    <br>
                </md-card>
            </md-content>

        </div>
        
    </div>
</div>
