<div ng-include="'views/partials/nav.html'"></div>
<div>
    <div class="welcome">
        <div>

            <md-content style="margin: auto" flex="80">
                <md-card>
                    <md-card id="userTitle">
                        <div id="picture">
                            <img id="svcBanner" src="pictures/svc_img.jpeg">
                        </div>
                        <div layout="row" layout-align="center">
                            <md-button class="md-raised md-primary" href="#/casemanage" ng-show="uc.userService.userObject.is_admin">Active Cases: {{uc.openCase}}</md-button>
                            <md-button class="md-raised md-primary" href="#/casemanage" ng-show="uc.userService.userObject.is_admin">New Cases: 4</md-button>
                        </div>
                        <div>
                    <md-button class="md-raised md-primary" href="#/green"><md-icon md-svg-icon="pictures/add.svg" ></md-icon> New Case</md-button>
                    <md-button class="md-raised md-primary" href="#/newadvocate" ng-show="uc.userService.userObject.is_admin"><md-icon md-svg-icon="pictures/add.svg" ></md-icon> New Advocate</md-button>
                </div>
                </md-card>
            </md-content>

        </div>

    </div>
</div>